html, body {

    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #202225;
    font-family: "Segoe UI", sans-serif;
    color: #fff;
}

.chat-area {
    margin-left: 100px;
    background-color: #36393f;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-header {
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #1a1b1d;
}

.messages {
    padding: 20px;
    overflow-y: auto;
    flex: 1;
}

.message {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 5px;
}

.message-content {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
    margin-bottom: 2px;
}

.text {
    color: #dcddde;
}

.message-box {
    padding: 15px;
    background-color: #40444b;
}

    .message-box input {
        width: 100%;
        padding: 12px;
        border-radius: 6px;
        border: none;
        font-size: 16px;
        background-color: #303338;
        color: white;
    }
