
.reaction-option {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 5px;
    transition: transform 0.1s;
}

    .reaction-option:hover {
        transform: scale(1.3);
    }


/* Upewnij się, że kontent ma context pozycjonowania */


/* Animacja przy aktualizacji */
.pulse-animation {
    animation: pulse 0.3s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}
