<aside class="channel-sidebar">

    <h4 class="server-title">@ViewBag.Server.Name <a asp-controller="Discord" asp-action="ManageServers">⚙️</a></h4>

    <ul class="channel-list">

        @foreach (var channel in ViewBag.Chanels)
        {
            <li class="channel-item">
                <a asp-route-id="@channel.Id" asp-action="SendMessage" class="channel-link">
                    <i class="fa-solid fa-hashtag channel-icon"></i>
                    <span>@channel.Name </span>
                </a>
            </li>
        }

        <li class="add-channel">
            <a asp-route-id="@ViewBag.Server.Id" asp-action="AddChanel" class="add-channel-btn">
                <i class="fa-solid fa-plus"></i> Add Channel
            </a>
        </li>
    </ul>

    <partial name="mini-profile" />

</aside>
