 <!-- Friend Row -->
        <li class="friend-row">
            <img src="https://i.pravatar.cc/40?img=7" class="avatar">

            <div class="friend-info">
                <div class="friend-name">Alice</div>
                <div class="friend-status online">Online</div>
            </div>

            <div class="friend-actions">
                <i class="fa-solid fa-message"></i>
                <i class="fa-solid fa-phone"></i>
                <i class="fa-solid fa-ellipsis"></i>
            </div>
        </li>

        <li class="friend-row">
            <img src="https://i.pravatar.cc/40?img=5" class="avatar">

            <div class="friend-info">
                <div class="friend-name">Bob</div>
                <div class="friend-status idle">Idle</div>
            </div>

            <div class="friend-actions">
                <i class="fa-solid fa-message"></i>
                <i class="fa-solid fa-phone"></i>
                <i class="fa-solid fa-ellipsis"></i>
            </div>
        </li>

        <li class="friend-row">
            <img src="https://i.pravatar.cc/40?img=9" class="avatar">

            <div class="friend-info">
                <div class="friend-name">Charlie</div>
                <div class="friend-status dnd">Do Not Disturb</div>
            </div>

            <div class="friend-actions">
                <i class="fa-solid fa-message"></i>
                <i class="fa-solid fa-phone"></i>
                <i class="fa-solid fa-ellipsis"></i>
            </div>
        </li>