<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discord Messages</title>
    <link rel="stylesheet" href="~/css/discord-messages.css" />
</head>

<body>
    <div class="chat-area">
        <div class="chat-header">#general</div>

        <div class="messages">
            <div class="message">
                <img src="https://i.pravatar.cc/40?img=3" class="avatar">
                <div class="message-content">
                    <span class="username">Alice</span>
                    <span class="text">Hey, welcome to the server!</span>
                </div>
            </div>

            <div class="message">
                <img src="https://i.pravatar.cc/40?img=5" class="avatar">
                <div class="message-content">
                    <span class="username">Bob</span>
                    <span class="text">This layout looks cool 👀</span>
                </div>
            </div>

            <div class="message">
                <img src="https://i.pravatar.cc/40?img=7" class="avatar">
                <div class="message-content">
                    <span class="username">Charlie</span>
                    <span class="text">Now it’s just messages only!</span>
                </div>
            </div>
        </div>

        <div class="message-box">
            <input type="text" placeholder="Message #general" />
        </div>
    </div>
</body>
</html>