@model List<Server>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discord Messages</title>
    <link rel="stylesheet" href="~/css/list-of-friends.css" />
</head>

<body>
    <div class="chat-area">
        <div class="friend-list">
            <div class="friend">
                <img src="https://i.pravatar.cc/40?img=3" class="avatar" />
                <div class="info">
                    <span class="username">arczi333</span>
                    <span class="status">🟢 Na kanale głosowym</span>
                </div>
            </div>

            <div class="friend">
                <img src="https://i.pravatar.cc/40?img=4" class="avatar" />
                <div class="info">
                    <span class="username">Azgir</span>
                    <span class="status">🟡 Zaraz wracam</span>
                </div>
            </div>

            <div class="friend">
                <img src="https://i.pravatar.cc/40?img=5" class="avatar" />
                <div class="info">
                    <span class="username">Kasix</span>
                    <span class="status">🎵 The Weeknd +1</span>
                </div>
            </div>

            <!-- Add more friends as needed -->
        </div>

        </div>

    </div>
</body>
</html>