
<div class="discord-profile-bar">
    <img src="https://i.pravatar.cc/50?img=12" class="profile-avatar">

    <div class="profile-info">
        <div class="profile-name">YourNickname</div>
        <div class="profile-tag">you#0001</div>
    </div>
     <a asp-controller="Discord" asp-action="UserProfile">
		<i class="fa-solid fa-gear settings-icon"></i>
     </a>
    
</div>
