@model DiscordClone.Models.Message

@foreach(var msg in ViewBag.Messages)
{
	<div>
		<b>@msg.User.Username:</b> @msg.Value
	</div>
}

<form asp-action="SendMessageForm">
	<input hidden type="number" asp-for="ChannelId" value="@ViewBag.Id" />
	<input type="text"  asp-for="Value"/>
	<button type="submit">ok</button>
</form>